<a href="https://colab.research.google.com/github/Deepjyot-Projects/SQL_IQ/blob/main/Why_to_use_one_hot_encoding%3F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn import model_selection,tree
from sklearn.model_selection import train_test_split,KFold
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, mean_squared_error,r2_score

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Generate synthetic data (replace this with your actual data)
data = {
    'Contract_MonthlyCharges': [40, 80, 60, 100, 70, 90, 55, 75, 85, 65],
    'Contract_Tenure': [12, 24, 36, 2, 48, 6, 24, 12, 18, 36],
    'TotalCharges': [480, 1920, 2160, 200, 3360, 540, 1320, 900, 1530, 2340],
    'Internet_Service': ['DSL', 'Fiber optic', 'DSL', 'No internet', 'Fiber optic',
                         'No internet', 'DSL', 'DSL', 'Fiber optic', 'DSL'],
    'Churn': [0, 1, 0, 1, 0, 1, 0, 0, 1, 0],  # 0 for no churn, 1 for churn
}

df = pd.DataFrame(data)

print('initally the dataframe is: ',df)
# Perform one-hot encoding for 'Internet_Service'
df_encoded = pd.get_dummies(df, columns=['Internet_Service'], prefix=['Internet'])


print('afterwards the dataframe is: \n',df_encoded)
# Split the data into features and target
X = df_encoded.drop('Churn', axis=1)
y = df_encoded['Churn']

initally the dataframe is:     Contract_MonthlyCharges  Contract_Tenure  TotalCharges Internet_Service  \
0                       40               12           480              DSL
1                       80               24          1920      Fiber optic
2                       60               36          2160              DSL
3                      100                2           200      No internet
4                       70               48          3360      Fiber optic
5                       90                6           540      No internet
6                       55               24          1320              DSL
7                       75               12           900              DSL
8                       85               18          1530      Fiber optic
9                       65               36          2340              DSL

   Churn
0      0
1      1
2      0
3      1
4      0
5      1
6      0
7      0
8      1
9      0
afterwards the dataframe is:
    Contract_MonthlyCharges  Contract_Tenure  TotalCharges  Churn  \
0                       40               12           480      0
1                       80               24          1920      1
2                       60               36          2160      0
3                      100                2           200      1
4                       70               48          3360      0
5                       90                6           540      1
6                       55               24          1320      0
7                       75               12           900      0
8                       85               18          1530      1
9                       65               36          2340      0

   Internet_DSL  Internet_Fiber optic  Internet_No internet
0             1                     0                     0
1             0                     1                     0
2             1                     0                     0
3             0                     0                     1
4             0                     1                     0
5             0                     0                     1
6             1                     0                     0
7             1                     0                     0
8             0                     1                     0
9             1                     0                     0